@import "../Base/_variables";
@import "../Base/_mixins";

.left-tab {
  @include below820px {
    .desktop {
      display: none;
      margin-left: 0;
    }
  }
  @include abv820px {
    .mobile {
      display: none;
    }
  }
}
