@import "../Base/_variables";
@import "../Base/_mixins";

.left-tab {
  @include atMedium {
    .desktop {
      display: none;
      margin-left: 0;
    }
  }
  @include abvMedium {
    .mobile {
      display: none;
    }
  }
}
