//TODO
  //add js for green spotify underscore on the right-nav
*
  box-sizing: border-box
  margin: 0
  padding: 0


@font-face
  font-family: 'Rubik'
  src: local('Rubik'), url('./assets/fonts/Rubik-Light.woff') format('woff')

@font-face
  font-family: 'Rubik-Medium'
  src: local('Rubik-Medium'), url('./assets/fonts/Rubik-Medium.woff') format('woff')

#root
  overflow-x: hidden

.app
  width: 100vw
  min-height: 100vh
  display: flex
  font-family: 'Rubik'
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%)
  overflow-x: hidden
  // background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%)


.left-tab
  background-color: #131102
  height: 100%
  flex-basis: 25%
  width: 240px
  padding-left: 2%
  padding-right: 10px
  padding-top: 1%
  padding-bottom: 1%
  color: #ffffff
  font-size: 14px
  position: fixed
  z-index: 1

.left-tab__app-nav
  display: flex
  flex-direction: column
  justify-content: center

.left-tab__app-nav__icon-text
  display: flex
  justify-content: space-between
  margin-bottom: 10%
  cursor: pointer
  opacity: 0.6
  position: relative

.left-tab__app-nav__icon-text--clicked:before
  content: ''
  display: block
  position: absolute
  top: 0
  left: -15px
  bottom: 0
  width: 4px
  height: 100%
  opacity: 1
  background-color: #1ed760

.left-tab__app-nav__icon-text--clicked--recent:after
  content: ''
  display: block
  position: absolute
  top: 0
  left: -15px
  bottom: 0
  width: 4px
  height: 100%
  opacity: 1
  background-color: #1ed760


.left-tab__app-nav__text
  text-align: left
  width: 77%
  display: flex
  align-items: center


.left-tab__app-nav__icon-text:hover
  opacity: 1
  transition-duration: 500ms

.left-tab__logo
  padding-top: 20px
  padding-bottom: 20px
  margin-bottom: 5%
  min-width: 140px
  display: flex
  justify-content: flex-start

.left-tab__logo__logo
  max-height: 40px
  min-width: 70px
  width: 141px

.left-tab__app-nav__logo
  cursor: pointer
  opacity: 0.6


.right-tab
  overflow-y: scroll
  overflow-x: hidden
  width: 100%
  // max-width: 100% - 240px
  display: flex
  flex-direction: column
  align-content: center
  margin-left: 240px
  margin-right: 0
  padding-right: 0

.right-tab__right-nav
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  margin: 42px auto
  width: 80%
  font-size: 12px
  // font-family: 'Rubik-Medium'
  color: white
  list-style: none
  line-height: 16px
  letter-spacing: 0.15rem

.right-tab__right-nav__element
  flex-basis: 10%
  min-width: 150px
  margin-bottom: 3%
  position: relative
  text-align: center
  opacity: 0.6
  transition-duration: 500ms


.right-tab__right-nav__element:hover
  opacity: 1
  cursor: pointer

.right-tab__right-nav__element--clicked:before
    content: ""
    height: 2px
    background-color: #1db954
    width: 30px
    position: absolute
    display: block
    bottom: -4px
    left: 50%
    margin-left: -15px


