@font-face {
    font-family: 'Horizon';
    src: url('subset-Horizon-Regular.woff2') format('woff2'),
        url('subset-Horizon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

