* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Horizon-Regular";
  src: local("Horizon-Regular"), url("../assets/fonts/Horizon-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Anodina-Light";
  src: local("Anodina-Light"), url("../assets/fonts/Anodina-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Anodina-ExtraLight";
  src: local("Anodina-ExtraLight"), url("../assets/fonts/Anodina-ExtraLight.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SpaceGrotesk-SemiBold";
  src: local("SpaceGrotesk-SemiBold"), url("../assets/fonts/SpaceGrotesk-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: local("SpaceGrotesk-Bold"), url("../assets/fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-display: swap;
}

#root {
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: "Anodina-Light", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
}
.anodina-ready body {
  font-family: "Anodina-Light";
}
.wrapper {
  width: calc(100vw - 240px);
  @include atMedium {
    // margin-top: 208px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
}
.app {
  width: 100vw;
  // height: 100vh;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  overflow-x: hidden;
  transition: background-image 1.5s ease;
  color: #ffffff;
  position: relative;
  &__fetch {
    &__link {
      display: flex;
    }
    &-title {
      width: 100%;
      text-align: left;
      margin-bottom: 2%;
      font-size: 42px;
      font-family: "SpaceGrotesk-Bold", sans-serif;
      @include atXLarge {
        font-size: 35px;
      }
      @include atLarge {
        text-align: center;
      }
    }
    &-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: 5%;
      @include atLarge {
        justify-content: center;
      }
    }
  }
  &__right-container-generic__outer {
    overflow-y: scroll;
    overflow-x: hidden;
    width: calc(100vw - 240px);
    display: flex;
    // height: 100vh;
    flex-direction: column;
    align-content: center;
    margin-left: 240px;
    margin-right: 0;
    margin-bottom: 90px;
    padding-right: 0;
    @include atMedium {
      margin-left: 0;
    }
    &__right-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 42px auto;
      width: 90%;
      font-size: 12px;
      font-weight: 700;
      color: white;
      list-style: none;
      line-height: 16px;
      letter-spacing: 0.15rem;
      @include atMedium {
        width: 90% !important;
        height: 124px;
      }
    }
  }

  &__play-hover {
    width: 60px;
    height: 60px;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    z-index: 1;

    &--hover {
      transform: scale(1.2);
      border-radius: 50%;
      border: 1px solid white;
      z-index: 1;
    }
  }

  &__rounded-album {
    border-radius: 50%;
    overflow: hidden;
  }
}

//

/*# sourceMappingURL=App.scss.map */
