* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("../assets/fonts/Rubik-Light.woff") format("woff");
}
@font-face {
  font-family: "DeValencia-Regular";
  src: local("DeValencia-Regular"), url("../assets/fonts/DeValencia-Regular.woff") format("woff");
}
@font-face {
  font-family: "Horizon-Regular";
  src: local("Horizon-Regular"), url("../assets/fonts/Horizon-Regular.woff") format("woff");
}
@font-face {
  font-family: "Rubik-Medium";
  src: local("Rubik-Medium"), url("../assets/fonts/Rubik-Medium.woff") format("woff");
}
@font-face {
  font-family: "Anodina-Light";
  src: local("Anodina-Light"), url("../assets/fonts/Anodina-Light.woff") format("woff");
}
@font-face {
  font-family: "Anodina-ExtraLight";
  src: local("Anodina-ExtraLight"), url("../assets/fonts/Anodina-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Anodina-Regular";
  src: local("Anodina-Regular"), url("../assets/fonts/Anodina-Regular.woff") format("woff");
}
@font-face {
  font-family: "Anodina-Bold";
  src: local("Anodina-Bold"), url("../assets/fonts/Anodina-Bold.woff") format("woff");
}
@font-face {
  font-family: "Anodina-ExtraBold";
  src: local("Anodina-ExtraBold"), url("../assets/fonts/Anodina-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "SpaceGrotesk-Light";
  src: local("SpaceGrotesk-Light"), url("../assets/fonts/SpaceGrotesk-Light.woff") format("woff");
}
@font-face {
  font-family: "SpaceGrotesk-SemiBold";
  src: local("SpaceGrotesk-SemiBold"), url("../assets/fonts/SpaceGrotesk-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "SpaceGrotesk-Medium";
  src: local("SpaceGrotesk-Medium"), url("../assets/fonts/SpaceGrotesk-Medium.woff") format("woff");
}
@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: local("SpaceGrotesk-Bold"), url("../assets/fonts/SpaceGrotesk-Bold.woff") format("woff");
}
@font-face {
  font-family: "Quicksand-Bold";
  src: local("Quicksand-Bold"), url("../assets/fonts/Quicksand-Bold.woff") format("woff");
}
@font-face {
  font-family: "Quicksand-BoldItalic";
  src: local("Quicksand-BoldItalic"), url("../assets/fonts/Quicksand-BoldItalic.woff") format("woff");
}
#root {
  overflow-x: hidden;
}

.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  font-family: "Anodina-Light";
  overflow-x: hidden;
  transition: background-image 1.5s ease;
  color: #ffffff;
}

.left-tab__logo {
  &__main {
    font-size: 50px;
    animation: App-logo-spin infinite 20s linear;
    pointer-events: none;
    position: relative;
    right: 10px;
  }
  &__title {
    font-size: 22px;
    font-weight: 600;
    font-family: "Anodina-ExtraLight";
    max-width: 125px;
  }
  &__title-react {
    font-family: "Horizon-Regular";
    font-size: 90px;
    position: absolute;
    left: 110px;
    top: 30px;
    transform: rotate(15deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.left-tab {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  flex-basis: 25%;
  width: 240px;
  padding-left: 2%;
  padding-right: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #ffffff;
  font-size: 14px;
  position: fixed;
  z-index: 1;
}

.left-tab__app-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__icon-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    cursor: pointer;
    opacity: 0.6;
    position: relative;
  }
  &__icon-text--clicked:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -15px;
    bottom: 0;
    width: 4px;
    height: 100%;
    opacity: 1;
    background-color: #1ed760;
  }
  &__icon-text--clicked--recent:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -15px;
    bottom: 0;
    width: 4px;
    height: 100%;
    opacity: 1;
    background-color: #1ed760;
  }

  &__text {
    text-align: left;
    width: 77%;
    display: flex;
    align-items: center;
  }

  &__icon-text:hover {
    opacity: 1;
    transition-duration: 500ms;
  }
  &__logo {
    cursor: pointer;
    opacity: 0.6;
  }
}

.left-tab__logo {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 5%;
  min-width: 140px;
  display: flex;
  justify-content: flex-start;
  &__logo {
    max-height: 40px;
    min-width: 70px;
    width: 141px;
  }
}

.right-tab {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 240px;
  margin-right: 0;
  margin-bottom: 90px;
  padding-right: 0;
}

.right-tab__right-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 42px auto;
  width: 90%;
  font-size: 12px;
  font-weight: 700;
  color: white;
  list-style: none;
  line-height: 16px;
  letter-spacing: 0.15rem;
  &__element {
    flex-basis: 10%;
    min-width: 150px;
    margin-bottom: 3%;
    position: relative;
    text-align: center;
    opacity: 0.6;
    transition-duration: 500ms;
  }

  &__element:hover {
    opacity: 1;
    cursor: pointer;
  }

  &__element--clicked:before {
    content: "";
    height: 2px;
    background-color: #1db954;
    width: 30px;
    position: absolute;
    display: block;
    bottom: -4px;
    left: 50%;
    margin-left: -15px;
  }
}

/*# sourceMappingURL=App.scss.map */
