$mainGreen: #1db954;
$mainSidebarBlack: rgba(0, 0, 0, 0.9);
$mainPlayerBarGray: #282828;

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
