@import "./_variables.scss";
@import "./_mixins.scss";

@font-face {
  font-family: "Horizon-Regular";
  src: local("Horizon-Regular"), url("../../assets/fonts/subset-Horizon-Regular.woff2") format("woff2"),
    url("../../assets/fonts/subset-Horizon-Regular.woff") format("woff");
  font-display: swap;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Anodina-Light";
  src: local("Anodina-Light"), url("../../assets/fonts/Anodina-Light.woff2") format("woff2"),
    url("../../assets/fonts/Anodina-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Anodina-ExtraLight";
  src: local("Anodina-ExtraLight"), url("../../assets/fonts/Anodina-ExtraLight.woff2") format("woff2"),
    url("../../assets/fonts/Anodina-ExtraLight.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: local("SpaceGrotesk-Bold"), url("../../assets/fonts/SpaceGrotesk-Bold.woff2") format("woff2"),
    url("../../assets/fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-display: swap;
}
.generator {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 15px;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  color: #fff;
  @include below1070px {
    margin: 0 15px;
    width: 95%;
  }
}
.wrapper {
  width: calc(100vw - 240px);
  @include below820px {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
}
.anodina-ready .app {
  font-family: "Anodina-Light";
}
.app {
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: background-image 1.5s ease;
  color: #ffffff;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  &__rounded-album {
    border-radius: 50%;
    overflow: hidden;
  }
  &__fetch {
    &__link {
      display: flex;
    }
    &-title {
      width: 100%;
      text-align: left;
      margin-bottom: 2%;
      font-size: 42px;
      .SpaceGroteskB-ready {
        font-family: "SpaceGrotesk-Bold";
      }
      @include below1235px {
        font-size: 35px;
      }
      @include below1070px {
        text-align: center;
      }
    }
    &-container {
      padding-top: 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: 5%;
      width: inherit;
      @include below1070px {
        justify-content: center;
      }
    }
  }
  &__right-container-generic__outer {
    @include below820px {
      width: 100%;
    }
    overflow-y: scroll;
    overflow-x: hidden;
    width: calc(100vw - 240px);
    display: flex;
    // height: 100vh;
    flex-direction: column;
    align-content: center;
    margin-left: 240px;
    margin-right: 0;
    margin-bottom: 90px;
    padding-right: 0;
    @include below820px {
      margin-left: 0;
    }
    &__right-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 56px auto;
      @include below420px {
        margin-bottom: 90px;
      }
      width: 90%;
      font-size: 12px;
      font-weight: 700;
      color: white;
      list-style: none;
      line-height: 16px;
      letter-spacing: 0.15rem;
      @include below820px {
        width: 80% !important;
        height: 124px;
      }
    }
  }

  &__play-hover {
    width: 60px;
    height: 60px;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    z-index: 1;
    &--hover {
      transform: scale(1.2);
      border-radius: 50%;
      border: 1px solid white;
      z-index: 1;
    }
  }
}

//

/*# sourceMappingURL=App.scss.map */
