@font-face {
  font-family: "Anodina-ExtraLight";
  src: local("Anodina-ExtraLight"), url("../../assets/fonts/Anodina-ExtraLight.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SpaceGrotesk-SemiBold";
  src: local("SpaceGrotesk-SemiBold"), url("../../assets/fonts/SpaceGrotesk-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: local("SpaceGrotesk-Bold"), url("../../assets/fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-display: swap;
}
